body {
    margin: 0;
}

.menu-navegacion {
    background-color: #466a0e;
    padding: 10px;
    margin: 0px;
}

.menu-navegacion li {
    display: inline-block;
}

.menu-navegacion a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu-navegacion a:hover {
    color: red;
    background-color: white;
}
